
<app-header></app-header>
<div class="flexrow">
  <div class="container">

    <app-friendbox></app-friendbox>

    <app-gnome-card 
      img="assets/images/gnomes/1.jpg"
      text="
        Hello, My Name is Karl, I am a Garden Gnome">
    </app-gnome-card>

    <app-gnome-card 
      img="assets/images/gnomes/2.jpg"
      text="
        Are Spiders Web Developers?">
    </app-gnome-card>
    
    <app-gnome-card 
      img="assets/images/gnomes/3.jpg" 
      text="
        Hi, i want to meet new people here">
    </app-gnome-card>

    <app-gnome-card 
      img="assets/images/gnomes/4.jpg" 
      text="
        OMG, I might have ran over someone!">
    </app-gnome-card>

    <app-footer></app-footer>
  </div>
  <app-proposals></app-proposals>

  
</div>
