<div class="profile-row">
    <img src="assets/images/gnomes/1.jpg"/>
    <div>
        <h3>Karl</h3>
        <br/>
        <div class="description">100 years old</div>
    </div>
</div>

<div>Recommended for You</div>

<app-profile-row
    name="Richard"
    text="Looking for friends"
    img="assets/images/gnomes/2.jpg">
</app-profile-row>

<app-profile-row
    name="Lawrence"
    text="Shovel Enthusiast"
    img="assets/images/gnomes/3.jpg">
</app-profile-row>

<app-profile-row
    name="Joe"
    text="likes plants"
    img="assets/images/gnomes/4.jpg">
</app-profile-row>

<app-profile-row
    name="Chris"
    text="knows female gnomes"
    img="assets/images/gnomes/5.jpg">
</app-profile-row>
